---
- name: Ask vars
  hosts: all
  vars_prompt:
    - name: user_name
      prompt: Enter create general user name
      private: false

    - name: user_password
      prompt: Enter user password
      private: true
      confirm: true

    - name: user_salt
      prompt: Salt?
      private: true

    - name: box_drive_path
      prompt: Windows Box Drive path e.g. "C:/Users/UserName/Box"
      private: false
  gather_facts: false

- name: Configure fedora for Windows Subsystem for Linux 2.
  hosts: fedora
  gather_facts: true
  roles:
    - role: initial_setup
      tags: initial
    - role: user_setup
      tags: user
    - role: after_started_systemd
      tags:
        - never
        - after-started-systemd

- name: Test container
  hosts: testcontainer
  remote_user: root
  roles:
    - role: initial_setup
      tags: initial
    - role: user_setup
      tags: user
  gather_facts: false
  pre_tasks:
    - name: Launch Test Container
      delegate_to: localhost
      containers.podman.podman_container:
        name: testcontainer
        image: registry.fedoraproject.org/fedora:latest
        command: sleep infinity
        detach: true
      tags:
        - initial
        - user
    - name: Install Python3
      ansible.builtin.raw: dnf5 install -y python3 python3-libdnf5
      register: dnf5_output
      changed_when: dnf5_output.rc != 0
      tags:
        - initial
        - user
    - name: Gather facts
      ansible.builtin.gather_facts:
      tags:
        - initial
        - user
