---
- name: Set Locale
  ansible.builtin.import_tasks: set_locale.yml

- name: Set timezone
  ansible.builtin.import_tasks: set_timezone.yml

- name: User Service
  become: true
  become_user: "{{ user_name }}"
  block:
    - name: SSH-Agent
      ansible.builtin.import_tasks: npiperelay_socket.yml

    - name: Podman Socket
      ansible.builtin.import_tasks: podman_socket.yml
